h1, .flash {
  text-align: center;
}

header, footer {
  margin: 20px;
}

.flash, .current-user {
  font-style: italic;
}
  
#success {
  color: green;
}
  
#danger {
  color: maroon;
}

.events {
  margin-top: 10px;
  
  li {
  font-weight: bold;
  }
}

.event-details {
  padding-left: 0px;
  margin-bottom: 10px;
  
  li {
  list-style-type: none;
  font-weight: normal;
  font-style: italic;
  }
}

.container div {
  margin-right: 20px;
}

.created, .upcoming, .previous {
  display: inline-block;
}

.created {
  position: relative;
  float: left;
}

.previous {
  position: absolute;
}

footer {
  bottom: 0%;
  position: fixed;
}

.users li {
  list-style-type: none;
}

#invite {
  margin: 0px;
}

form ul {
  margin-top: 0px;
}