h1, .flash {
  text-align: center;
}

.flash, .current-user {
  font-style: italic;
}
  
#success {
  color: green;
}
  
#danger {
  color: maroon;
}

.events li {
  font-weight: bold;
}

.event-details {
  padding-left: 0px;
  
  li {
  list-style-type: none;
  font-weight: normal;
  font-style: italic;
  }
}
