<h1>Log In</h1>

<%= form_for(:session, url: login_path) do |f| %>
<table align="center">
  <tr>
    <td><%= f.label :name %></td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td><%= f.submit "Log in" %></td>
  </tr>
</table>
<% end %>