<h1><%= @user.name %></h1>

<div class="container">
  <div class="created">
    <h3>Hosted events (<%= @created_events.count %>):</h3>
    <% if @created_events.any? %>
      <ul class="events">
        <% @created_events.each do |event| %>
          <%= render 'shared/event_info', event: event %>
        <% end %>
      </ul>
    <% end %>
  </div>
  
  <%= render 'shared/event' %>
</div>
